.root {
    width: 100%;
    background-color: white;
}

.welcomeContainer {
    padding: 10rem 5rem 3rem 5rem;
}

.welcomeTitle {
    min-height: 4rem;
    font-size: 3rem;
    font-weight: 700;
    color: var(--color-secondary);
    transform: translateY(20px);
    opacity: 0;
    animation: slideIn 2s ease-out forwards;
}

.welcomeDescription {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--color-secondary);
    margin-top: 1rem;
    transform: translateY(20px);
    opacity: 0;
    animation: slideIn 2s ease-out forwards;
}

.welcomeImage {
    display: block;       
    margin: 3rem 0 0 auto;     
    width: 100%;     
}

.body {
    padding: 10rem 5rem 5rem 5rem;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, var(--color-accent) 10%, var(--color-accent) 90%);
    display: flex;
    flex-direction: row;
}

.aboutMeImage {
    max-height: 400px;
    border-radius: 50%;         
    border: 20px solid var(--color-secondary); 
}

.aboutMeContent {
    padding: 20px;
    flex: 1
}

.aboutMeTitle {
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-primary);
}

.aboutMeSubtitle {
    font-size: 2rem;
    font-weight: 500;
    color: var(--color-primary);
}

.aboutMeDescription {
    font-size: 1.5rem;
    margin-top: 1rem;
    color: var(--color-primary);
    transform: translateY(20px);
    opacity: 0;
    transition: all 0.5s ease-out;
}

.show {
    animation: slideIn 1s ease-out forwards;
}

.gridImageContainer {
    padding: 50px;
    background-color: var(--color-alternate);
    /* background: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, #262626 10%, #262626 90%); */
}

.gridImageContainerLabel {
    color: var(--color-accent);
    text-align: center;
}

.contactUsLabel {
    color: white;
    text-align: center;
}

.blinking {
    animation: blink 1s step-start infinite;
}

.gone {
    visibility: collapse;
}

@media (max-width: 1024px) {
    .body {
      flex-direction: column;
    }

    .aboutMeImage {
        display: block;       
        margin: 0 auto;     
        width: 400px;    
    }
  
    .aboutMeContent {
      width: 100%;
    }
  
    .aboutMeImage {
      order: 1; 
    }
  
    .aboutMeContent {
      order: 2; 
    }
    
}
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  
  @keyframes slideIn {
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }