.root {
    background-image: url('/images/home-banner.avif');
    background-size: cover; 
    background-position: center top; 
    aspect-ratio: '16 / 9';
    width: 100%;
    background-repeat: no-repeat; 
    padding-top: 100px;
}

.welcomeContainer {
    padding: 5rem
}

.welcomeTitle {
    min-height: 4rem;
    font-size: 3rem;
    font-weight: 500;
    color: white;
}

.welcomeDescription {
    font-size: 1rem;
    color: white;
    margin-top: 1rem;
    transform: translateY(20px);
    opacity: 0;
    animation: slideIn 3s ease-out forwards;
}

.body {
    padding-top: 50px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, #000000 10%, #000000 90%);
}

.bodyAlternate {
    padding: 50px;
}

.carouselContainer {
    padding: 50px;
}

.gridImageContainer {
    padding: 50px;
    background-color: #262626;
    /* background: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, #262626 10%, #262626 90%); */
}

.gridImageContainerLabel {
    color: white;
    text-align: center;
}

.contactUsLabel {
    color: white;
    text-align: center;
}

.blinking {
    animation: blink 1s step-start infinite;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  
  @keyframes slideIn {
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }